
* {
    padding: 0;
    margin: 0;
    font-family: Verdana;
    cursor: url('../image/butterfly-cursor.png'), auto;
}

body {
    margin: auto;
    height: 100vh;
    text-align:center;
}

h1{
    text-align:center;
    font-weight:900;
}

#menu > input{
    display:inline-block;
}

.login-div{
    margin: auto;
    height: 300px;
    width: 500px;
}

input {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
}

input[type="button"]:hover {
  cursor: pointer;
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}

input[type="button"] {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}


/* preferences */


#topics, #projects, #availability, #platform{
    margin-top:50px;
    margin-bottom:50px;
    margin-left: 20%;
    margin-right: 20%;
}

table{
    width:100%;

    /*da boot*/
    margin-bottom: 1rem;
    background-color: transparent;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

input[type="checkbox"], input[type="radio"]{
    width: 30px;
    height: 20px;
    border-radius: 100%;
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;
}