html {
    background: black;
}

* {
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

body {
    background: #9bdeef;
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
    height: 100vh;
    text-align:center;
}

h1{
    text-align:center;
    font-weight:900;
}

form{
    display:block;
    margin: 1em;
}



#menu > input{
    display:inline-block;
}
